/* #root {
  font-family: "lato";
} */
body {
  background-color: black;
}

.start-screen-container-around-tiles {
  display: flex;
  justify-content: center;
  position: relative;
  left: -10px;
  top: 50px;
}

.container-around-tiles {
  display: flex;
  justify-content: center;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 30px;
}

.title-img {
  width: 400px;
  margin-top: 15px;
}

.radio-input {
  display: none;
}

button {
  outline: 0;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 2px;
  color: black;
  background-color: #;
  border-color: #1b1f2326;
}

.mode-selection-btn {
  cursor: pointer;
  outline: 0;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 14px;
  color: black;
  background-color: white;
  border-color: #1b1f2326;
}

.radio-input:checked + .mode-selection-btn {
  background-color: #0095ff;
}

.time p {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation-reverse {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.end-game-message {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.submit-name {
  width: 100%;
}

.high-score-list-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.high-score-list {
  width: 330px;
  align-items: center;
}

@media (max-width: 845px) {
  .high-score-list-container {
    width: 100%;
  }
}

.submithighscore {
  color: white;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  align-self: center;
  text-align: center;
}

.submithighscore input {
  border-color: black;
  color: white;
  text-align: center;
  background-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 240px;
}

.submithighscore input[type="text"] {
  font-size: 5rem;
  text-transform: uppercase;
}

.end-game-message p {
  margin-top: 5px;
  /* align-self: flex-end; */
}

.highscorelist {
  color: white;
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  align-self: center;
  height: 500px;
  text-align: center;
}

.parent-high-score-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container-around-high-score {
  display: flex;
  justify-items: center;
  width: 800px;
  column-gap: 30px;
}

@media (max-width: 845px) {
  .container-around-high-score {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.highscore-items {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.highscore-item-titles {
  margin-right: 29px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.grid-container-highscores {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 50%;
}

@media (max-width: 845px) {
  .grid-container-highscores {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.highscore p {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

p {
  color: white;
}

.main-content {
  position: relative !important;
  z-index: 10;
}

.instructions {
  color: white;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  z-index: 10;
}

.decorative-tiles {
  z-index: 1;
  position: absolute;
  top: 700;
  left: 200;
}

.mode-selection-title {
  justify-content: left;
  margin-right: 35%;
  margin-left: 35%;
}

.mode-btn {
  margin-left: 10px;
  margin-right: 10px;
  width: 75px;
}
.mode-selection {
  color: white;
  display: flex;
  justify-content: center;
  margin-right: 30%;
  margin-left: 30%;
}

.high-score-list h1 {
  margin-top: 0px;
}

@media (max-width: 845px) {
  .high-score-list h1 {
    margin-top: 30px !important;
  }
}

.start-btn-class {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  height: 600px;
  width: 600px;
  align-self: center;
}

@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5%;
    height: 70vw;
    width: 70vw;
    align-self: center;
  }
}

.item-1 {
  border-radius: 5px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: red;
}
.item-2 {
  border-radius: 5px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color: red;
}
.item-3 {
  border-radius: 5px;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-color: blue;
}
.item-4 {
  border-radius: 5px;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  background-color: blue;
}
.item-5 {
  border-radius: 5px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: green;
}
.item-6 {
  border-radius: 5px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: green;
}
.item-7 {
  border-radius: 5px;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  background-color: yellow;
}
.item-8 {
  border-radius: 5px;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  background-color: yellow;
}
.item-9 {
  border-radius: 5px;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: orange;
}
.item-10 {
  border-radius: 5px;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: orange;
}
.item-11 {
  border-radius: 5px;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  background-color: pink;
}
.item-12 {
  border-radius: 5px;
  grid-row: 3 / 4;
  grid-column: 4 / 5;
  background-color: pink;
}
.item-13 {
  border-radius: 5px;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  background-color: black;
}
.item-14 {
  border-radius: 5px;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  background-color: black;
}
.item-15 {
  border-radius: 5px;
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  background-color: teal;
}
.item-16 {
  border-radius: 5px;
  grid-row: 4 / 5;
  grid-column: 4 / 5;
  background-color: teal;
}

.border {
  outline: 7px double white;
}

@media (max-width: 840px) {
  .border {
    outline: 4px double white;
  }
}

.hidden {
  display: none;
}
